apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dex-studio-canary
  namespace: dex-studio
  annotations:
    nginx.ingress.kubernetes.io/canary: "true"
    nginx.ingress.kubernetes.io/canary-weight: "__WEIGHT__"
spec:
  rules:
    - host: studio.thedataenginex.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dex-studio
                port:
                  number: 7860
